
hw4_dataset/
hw4_1_data/
hw4_2_data/

checkpoints/
outputs/

__pycache__/


InstantSplat/mast3r/checkpoints/MASt3R_ViTLarge_BaseDecoder_512_catmlpdpt_metric.pth

dust3r/

InstantSplat/output/

p2_checkpoints/