#Ignore the dataset
#IMPORTANT: make sure that your dataset is stored in a folder with the same as the one specified below


*.png
*.jpg
*.jpeg
*.pyc
*.pyo
*.bin

*.tgz
*.ckpt

src/**/*.pth

hw2_data/*
